
extends layout

block content
  #content.unselectable
    .btn.left
        &nbsp;
    .pane
      h1.title
          &nbsp;
      h2.title
          &nbsp;
      .photo
          &nbsp;
    .btn.right
        &nbsp;
